#brackets
    width: 80%
    margin-left: 10%
    margin-right: 10%
    td
        &:hover
            background-color: #ccc
        a
            text-decoration: none
            div
                color: $defaulttext
                height: 100%
                width: 100%
                