---
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

	{% include header.html %}
    
    {% include scripts.html %}
    
    <table id="brackets" class="sortable">
        <thead>
        <tr>
            <th>Event</th>
            <th>Location</th>
            <th>Status</th>
            <th>Prized</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div onclick="location.href='bracket-example-1.html'">Example 1</div>
            </td>
            <td>
                <div onclick="location.href='map.html'">A1</div>
            </td>
            <td>
                <div onclick="location.href=''">Incomplete</div>
            </td>
            <td>
                <div onclick="location.href=''">Incomplete</div>
            </td>
        </tr>
        <tr>
            <td>
                <div onclick="location.href='bracket-example-1.html'">Example 2</div>
            </td>
            <td>
                <div onclick="location.href='map.html'">A2</div>
            </td>
            <td>
                <div onclick="location.href=''">Complete</div>
            </td>
            <td>
                <div onclick="location.href=''">Complete</div>
            </td>
        </tr>
        <tr>
            <td>
                <div onclick="location.href='bracket-example-1.html'">Example 3</div>
            </td>
            <td>
                <div onclick="location.href='map.html'">B1</div>
            </td>
            <td>
                <div onclick="location.href=''">Complete</div>
            </td>
            <td>
                <div onclick="location.href=''">Incomplete</div>
            </td>
        </tr>
        
        </tbody>
    </table>
	
	{% include footer.html %}
	
</body>
</html>