---
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

	{% include header.html %}
    
    <table id="bracket">
        <thead>
        <tr>
            <th>Round 1</th>
            <th>Round 2</th>
            <th>Finals</th>
            <th>Winner</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href=""><div>Player 1</div></a></td>
            <td><a href=""><div></div></a></td>
            <td><a href=""><div></div></a></td>
            <td><a href=""><div></div></a></td>
        </tr>
        <tr>
            <td><a href=""><div>Player 2</div></a></td>
            <td><a href=""><div></div></a></td>
            <td><a href=""><div></div></a></td>
            <td><a href=""><div></div></a></td>
        </tr>
        <tr>
            <td><a href=""><div>Player 3</div></a></td>
            <td><a href=""><div></div></a></td>
            <td><a href=""><div></div></a></td>
            <td><a href=""><div></div></a></td>
        </tr>
        <tr>
            <td><a href=""><div>Player 4</div></a></td>
            <td><a href=""><div></div></a></td>
            <td><a href=""><div></div></a></td>
            <td><a href=""><div></div></a></td>
        </tr>
        <tr>
            <td><a href=""><div>Player 5</div></a></td>
            <td><a href=""><div></div></a></td>
            <td><a href=""><div></div></a></td>
            <td><a href=""><div></div></a></td>
        </tr>
        <tr>
            <td><a href=""><div>Player 6</div></a></td>
            <td><a href=""><div></div></a></td>
            <td><a href=""><div></div></a></td>
            <td><a href=""><div></div></a></td>
        </tr>
        <tr>
            <td><a href=""><div>Player 7</div></a></td>
            <td><a href=""><div></div></a></td>
            <td><a href=""><div></div></a></td>
            <td><a href=""><div></div></a></td>
        </tr>
        <tr>
            <td><a href=""><div>Player 8</div></a></td>
            <td><a href=""><div></div></a></td>
            <td><a href=""><div></div></a></td>
            <td><a href=""><div></div></a></td>
        </tr>
        </tbody>
    </table>
	
	{% include footer.html %}
	
    {% include scripts.html %}
</body>
</html>