---
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

	{% include header.html %}
    
	<div class="cmdnode">
        <div class="cmdhead">
            Example Events
        </div>
        <div class="cmdshead">
            Active
        </div>
        <div class="active">
            <div class="cmdevent" onclick="location.href='bracket-example-1.html'">Example 1</div>
        </div>
        <div class="cmdshead">
            Unprized
        </div>
        <div class="unprized">
            <div class="cmdevent" onclick="location.href='bracket-example-1.html'">Example 3</div>
        </div>
        <div class="cmdshead">
            Complete
        </div>
        <div class="complete">
            <div class="cmdevent" onclick="location.href='bracket-example-1.html'">Example 2</div>
        </div>
    </div>
    <div class="cmdnode">
        <div class="cmdhead">
            Modern Events
        </div>
        <div class="cmdshead">
            Active
        </div>
        <div class="active">
        </div>
        <div class="cmdshead">
            Unprized
        </div>
        <div class="unprized">
        </div>
        <div class="cmdshead">
            Complete
        </div>
        <div class="complete">
        </div>
    </div>
    <div class="cmdnode">
        <div class="cmdhead">
            Draft Events
        </div>
        <div class="cmdshead">
            Active
        </div>
        <div class="active">
        </div>
        <div class="cmdshead">
            Unprized
        </div>
        <div class="unprized">
        </div>
        <div class="cmdshead">
            Complete
        </div>
        <div class="complete">
        </div>
    </div>
    <div class="cmdnode">
        <div class="cmdhead">
            Draft Events
        </div>
        <div class="cmdshead">
            Active
        </div>
        <div class="active">
        </div>
        <div class="cmdshead">
            Unprized
        </div>
        <div class="unprized">
        </div>
        <div class="cmdshead">
            Complete
        </div>
        <div class="complete">
        </div>
    </div>
	
	{% include footer.html %}
	
{% include scripts.html %}
</body>
</html>