.header
    width: 100%
    background: #ccc
    margin-bottom: 50px
    vertical-align: middle
    
    .logo
        display: inline-block
        width: 50px
        height: 50px
        vertical-align: middle
        background-image: url('/assets/img/logo.jpg')
        
    nav
        display: inline-block
        vertical-align: middle
        width: 85%
        text-align: center
        
        a
            text-decoration: none
            display: inline-block
            margin-left: 5%
            color: rgba(0,0,0,0.7)
            font-size: 3vw
            
            &:hover
                color: rgba(0,0,0,1)