.header
    width: 100%
    background: #ccc
    margin-bottom: 50px
    vertical-align: middle
    
    div
        display: inline-block
        width: 10%
        vertical-align: middle
        
    nav
        display: inline-block
        vertical-align: middle
        width: 85%
        
        a
            text-decoration: none
            display: inline-block
            margin-left: 5%
            color: rgba(0,0,0,0.7)
            font-size: 2em
            
            &:hover
                color: rgba(0,0,0,1)