#bracket
    border: none
    width: 80%
    margin-left: 10%
    margin-right: 10%
    th
        border: 1px solid black
    tr
        border: none
        height: 30px
        td
            &:nth-child(1)
                border-bottom: 1px solid black
        &:nth-child(even)
            td
                &:nth-child(1)
                    border-right: 1px solid black