h3
    text-align: center
#singlebracket
    height: 390px
    width: 980px
    text-align: center
    margin-left: 30px
    button
        width: 70px
        font-size: 10px
        position: absolute
    button.r1
        &.m1
            top: 220px
        &.m2
            top: 315px
        &.m3
            top: 410px
        &.m4
            top: 505px
        &.p1
            left: 40px
        &.p2
            left: 120px
    button.r2
        &.m1
            top: 265px
        &.m2
            top: 455px
        &.p1
            left: 360px
        &.p2
            left: 440px
    button.fin
        top: 360px
        &.p1
            left: 680px
        &.p2
            left: 760px